gif-converter/build/appicon.png
gif-converter/build/README.md
gif-converter/build/darwin/Info.dev.plist
gif-converter/build/darwin/Info.plist
gif-converter/build/windows/icon.ico
gif-converter/build/windows/info.json
gif-converter/build/windows/wails.exe.manifest
gif-converter/build/windows/installer/project.nsi
gif-converter/build/windows/installer/wails_tools.nsh
gif-converter/frontend/dist/gitkeep
